<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem">
          <div class="card-body p-5 text-center">
            <div class="mb-md-5 mt-md-4 pb-5">
              <h2 class="fw-bold mb-2 text-uppercase">Signin</h2>
              <p class="text-white-50 mb-5">
                Please enter your login and password!
              </p>

              <!-- Sign In Form -->
              <form [formGroup]="signinForm" (ngSubmit)="Signin()">
                <!-- Username Field -->
                <div class="form-outline form-white mb-4">
                  <input
                    type="text"
                    id="username"
                    formControlName="username"
                    placeholder="Username"
                    class="form-control form-control-lg"
                    [ngClass]="{
                      'is-invalid':
                        signinForm.get('username')?.invalid &&
                        signinForm.get('username')?.touched
                    }"
                  />
                  <label class="form-label" for="username">Username</label>
                  <div
                    *ngIf="
                      signinForm.get('username')?.invalid &&
                      signinForm.get('username')?.touched
                    "
                    class="invalid-feedback"
                  >
                    Username is required.
                  </div>
                </div>

                <!-- Password Field -->
                <div class="form-outline form-white mb-4">
                  <input
                    type="password"
                    id="password"
                    formControlName="password"
                    placeholder="Password"
                    class="form-control form-control-lg"
                    [ngClass]="{
                      'is-invalid':
                        signinForm.get('password')?.invalid &&
                        signinForm.get('password')?.touched
                    }"
                  />
                  <label class="form-label" for="password">Password</label>
                  <div
                    *ngIf="
                      signinForm.get('password')?.invalid &&
                      signinForm.get('password')?.touched
                    "
                    class="invalid-feedback"
                  >
                    Enter Password
                  </div>
                </div>

                <!-- Submit Button -->
                <button
                  class="btn btn-outline-light btn-lg px-5"
                  type="submit"
                  [disabled]="signinForm.invalid"
                >
                  Signin
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
